li{
  list-style: none;
}

#flex-1{
  display: flex;
  padding: 0 calc((100vw - 1440px) / 2);
  flex-direction: column;
}

/* NavBar */
#flex-2{
  background-color: black;
  width: 100%;
  height: 72px;
  color: #fff;
  /* position: absolute;
  top: 0;
  left: 0;
  padding: 0 calc((100vw - 1440px) / 2); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 42px;
}

/* NavBar Menu */
#flex-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 300px;
}

#flex-4{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 41px;
  row-gap: 10px;
}
.flex-4-item-1{
  display: flex;
  justify-content: center;
  width: 16%;
}
.flex-4-item-2{
  display: flex;
  justify-content: center;
  width: 16%;
}
.flex-4-item-3{
  display: flex;
  justify-content: center;
  width: 35%;
}
.flex-4-item-4{
  display: flex;
  justify-content: center;
  width: 16%;
}
.flex-4-item-5{
  display: flex;
  justify-content: center;
  width: 16%;
}

#flex-5{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 10px;
  justify-content: center;
  
}
.card-product{
  width: 250px;
  height: 335px;
  background-color: #F6F8FA;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.card-product-img{
  padding: 25px;
}
.card-product-info{
  padding: 16px;
  background-color: #fff;
}
.card-product-title{
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.card-product-desc{
  font-size: 14px;
  color: #000;
}

#flex-6{
  margin-top:58px;
  display: flex;
  align-self: center ;
  justify-content: center;
  width: 80%;
}

#flex-7{
  display: flex;
  width: 50%;
  flex-direction: column;
  padding:90px;
}

#flex-8{
  margin-top:20px;
  display: flex;
}

#flex-9{
  width: 40%;
  flex-direction: column;
}

#flex-10{
  width: 60%;
}

@media screen and (max-width: 800px) {
  .flex-4-item-1{
    width: 40%;
  }
  .flex-4-item-2{
    width: 40%;
  }
  .flex-4-item-3{
    width: 65%;
  }
  .flex-4-item-4{
    width: 40%;
  }
  .flex-4-item-5{
    width: 40%;
  }

  #flex-6{
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  #flex-7{
    width:100%;
    order:2;
  }
}

@media screen and (max-width: 320px) {
  .flex-4-item-1{
    width: 80%;
  }
  .flex-4-item-2{
    width: 80%;
  }
  .flex-4-item-3{
    width: 100%;
  }
  .flex-4-item-4{
    width: 80%;
  }
  .flex-4-item-5{
    width: 80%;
  }

  #flex-8{
    flex-direction: column;
  }
  #flex-9{
    width: 100%;
  }
  
  #flex-10{
    width: 100%;
  }

}