li{
  list-style: none;
}

#flex-1{
  display: flex;
  padding-left: calc((100vw - 1440px) / 2);
  padding-right: calc((100vw - 1440px) / 2);
  flex-direction: column;
}

/* NavBar */
#flex-2{
  background-color: black;
  width: 100%;
  height: 72px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: calc((100vw - 1440px) / 2);
  padding-right: calc((100vw - 1440px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.navbar-search{
  width: 400px;
  height: 40px;
  position: relative;
}

.navbar-search input{
  width: 100%;
  height: 100%;
  border-radius: 32px;
  padding-left: 48px;
  border: none;
  outline: none;
}

.navbar-search .search-icon{
  position: absolute;
  left:12px;
  top:8px;
}

.user-bag{
  display: flex;
  align-items: center;
  column-gap: 16px;
}


.header-navbar{
  margin-top: 114px;
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
}

.header-navbar img{
  width:100%;
}

/* NavBar Menu */
#flex-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0;
  column-gap: 32px;
}

#flex-4{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 37px;
}

.flex-4-item-1{
  width: 16%;
}
.flex-4-item-2{
  width: 16%;
}
.flex-4-item-3{
  width: 35%;
}
.flex-4-item-4{
  width: 16%;
}
.flex-4-item-5{
  width: 16%;
}

#flex-5{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 31px;
  column-gap: 31px;
}
.card-product{
  width: 250px;
  height: 335px;
  background-color: #F6F8FA;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.card-product-img{
  padding: 25px;
}
.card-product-info{
  padding: 16px;
  background-color: #fff;
}
.card-product-title{
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.card-product-desc{
  font-size: 14px;
  color: #000;
}

#flex-6{
  margin-top:72px;
  display: flex;
  align-self: center ;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 18px;
}

#flex-7{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding:90px;
}

#flex-8{
  margin-top:42px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-bottom: 50px;
  height:378px;
}

#flex-9{
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#flex-10{
  width: 60%;
}


@media screen and (max-width: 800px) {
  .header-navbar{
    margin-top: 122px;
  }

  #flex-4{
    margin-top: 40px;
    row-gap: 20px;
  }

  #flex-5{
    row-gap: 34px;
    column-gap: 16px;
  }
  .flex-4-item-1{
    width: 40%;
  }
  .flex-4-item-2{
    width: 40%;
  }
  .flex-4-item-3{
    width: 65%;
  }
  .flex-4-item-4{
    width: 40%;
  }
  .flex-4-item-5{
    width: 40%;
  }

  #flex-6{
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  #flex-7{
    justify-content: center;
    align-items: center;
    padding: 30px;
    width:100%;
    order:2;
  }
}

@media screen and (max-width: 320px) {
  .flex-4-item-1{
    width: 80%;
  }
  .flex-4-item-2{
    width: 80%;
  }
  .flex-4-item-3{
    width: 100%;
  }
  .flex-4-item-4{
    width: 80%;
  }
  .flex-4-item-5{
    width: 80%;
  }

  #flex-8{
    flex-direction: column;
    row-gap: 12px;
  }
  #flex-9{
    width: 100%;
    row-gap: 12px;
  }
  
  #flex-10{
    width: 100%;
  }

}